body {
  margin: 0 auto;
  max-width: 970px;
}

#title {
  font-size: 2.5rem;
  text-align: center;
}

#title a {
  text-decoration: none;
  color: black;
}

.white a{
  text-align: center;
  text-decoration: none;
  color: black;
}

.lcd p::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.33333%, rgba(255, 255, 255, 0.4) 33.33333%, rgba(255, 255, 255, 0.4) 66.66666%, rgba(255, 255, 255, 0.6) 66.66666%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 66.66666%, rgba(0, 0, 255, 0.7) 66.66666%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.33333%, rgba(255, 255, 255, 0.4) 33.33333%, rgba(255, 255, 255, 0.4) 66.66666%, rgba(255, 255, 255, 0.6) 66.66666%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 33.33333%, rgba(0, 255, 0, 0.7) 66.66666%, rgba(0, 0, 255, 0.7) 66.66666%);
  background-size: 3px 3px;
  mix-blend-mode: multiply;
}

.lcd {
  font-size: 4rem;
  text-align: center;
  position: relative;
  background: #222;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
  padding: 40px;
}

.req {
  height: 100%;
  background-color: #FF9800 !important;
  color: white !important;
  font-size: 2.5rem;
}

.park {
  background-color: #009688 !important;
  color: white !important;
}

.agree {
  background-color: #673AB7 !important;
  color: white !important;
}

.deny {
  background-color: #FF4081 !important;
  color: white !important;
}

.spec {
  text-align: center;
  padding-top: 15%;
}

.doveloper {
  margin-top: 100px;
}
